:root {
  --color-principal: #0c1e35;
  --color-verde: #4abc46;
  --color-blanco: #ffffff;
  --color-gris-claro: #d3d3d3;
}

.crud-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.crud-left, .crud-right {
  flex: 1;
  padding: 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-principal);
}

.crud-right{
  max-height: 550px;
  overflow-y: auto; 
  padding-right: 10px;
}

.crud-right::-webkit-scrollbar {
  width: 8px;
}

.crud-right::-webkit-scrollbar-thumb {
  background-color: #4abc46;
  border-radius: 5px;
}

.crud-right::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.crud-left h3, .crud-right h3 {
  text-align: center;
  margin-bottom: 20px;
}

.crud-left label, .crud-right label {
  display: block;
  margin: 10px 0 5px;
}

.crud-left select, .crud-left textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid;
  border-radius: 4px;
}

.register-button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: var(--color-verde);
  color: var(--color-principal);
  border: none;
  border-radius: 4px;
  border: 2px solid transparent; 
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.register-button:hover {
  background-color: var(--color-principal);
  color: var(--color-verde);
  border-color: var(--color-verde) ;
}

.appointment-item {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid;
  border-radius: 4px;
  background-color: var(--color-blanco);
  color: var(--color-principal);
}

.appointment-item p {
  margin: 5px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons-crud button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.appointment-item strong {
  font-weight: bold;
}

.appointment-item .buttons-crud {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
}

.buttons-crud button:first-child {
  background-color: var(--color-principal);
  color: var(--color-verde);
}

.buttons-crud button:last-child {
  background-color: var(--color-principal);
  color: var(--color-verde);
}

.buttons-crud button:last-child:hover {
  background-color: red;
  color: white;
}

.buttons-crud button:first-child:hover {
  background-color: yellow;
  color: black;
}

.edit-form {
background-color: #f4f4f9;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
margin: 20px auto;
width: 80%;
max-width: 500px;
}

.edit-form h3 {
font-size: 24px;
margin-bottom: 15px;
text-align: center;
color: #333;
}

.edit-form label {
font-size: 16px;
color: #333;
margin-bottom: 8px;
display: block;
}

.edit-form select,
.edit-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
box-sizing: border-box;
}

.edit-form textarea {
height: 100px;
resize: vertical;
}

.edit-form button {
background-color: #007bff;
color: white;
padding: 12px 20px;
font-size: 16px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
transition: background-color 0.3s ease;
}

.edit-form button:hover {
background-color: #0056b3;
}

@media (max-width: 768px) {
  .crud-container {
    flex-direction: column; 
    padding: 10px;
  }

  .crud-left, .crud-right {
    width: 100%; 
    margin-bottom: 20px; 
    padding: 15px;
  }

  .crud-left h3, .crud-right h3 {
    font-size: 20px; 
  }

  .crud-left select, .crud-left textarea {
    font-size: 14px; 
    padding: 8px;
  }

  .register-button {
    font-size: 16px; 
    padding: 10px;
  }

  .appointment-item {
    font-size: 14px; 
    padding: 10px;
  }

  .buttons-crud button {
    font-size: 14px; 
    padding: 8px;
  }
}
